.adminContent {
    width: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


input[type=button], input[type=submit], input[type=reset] {
    border-radius: 20px;
    background-color: rgb(168, 0, 84);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 12%;
    font-size: 1.2rem;
}

input[type=button]:hover {
    background-color: rgb(231, 60, 117);
}

input {
    border-radius: 20px;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(168, 0, 84);
    font-size: 1.2rem;
}