.createMessageForm{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.createMessageForm input {
    border-radius: 20px;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(168, 0, 84);
    font-size: 1.2rem;

}

.createMessageForm button {
    border-radius: 20px;
    background-color: rgb(168, 0, 84);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.2rem;

}

.createMessageForm button:hover {
    background-color: rgb(231, 60, 117);
}

.createMessageForm h1 {
    color: rgb(231, 60, 117);
    font-size: 1.2rem;
    font-weight: 600;
}







.messagesResulets {
    text-align: right ;
    margin: 20px;

}


.singleMessage {
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    text-align: left;
    font-size: 0.95rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid rgb(231, 60, 117);
    width: 20%;
}
.singleMessageSpan{
    color: rgb(168, 0, 84) ;
    font-size: 1.2rem;
    margin-right: 20px;
}
